---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="500: Internal Server Error"
  description="Something went wrong on our end."
  pubDate={new Date()}
  heroImage="https://http.cat/500"
>
  <p>Oops! It seems something went wrong on our server.</p>
  <p>
    We've been notified and are looking into it. Please try again later, or head
    back to the <a href="/posts">homepage</a>.
  </p>
</Layout>
