---
import BaseHead from "../components/BaseHead.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main>
      <div class="container">
        <h1>
          <span id="typed"></span>
        </h1>
        <a href="/blog">
          <button>Entry</button>
        </a>
      </div>
    </main>
    <script src="https://unpkg.com/typed.js/dist/typed.umd.js"></script>
    <script>
      var typed = new Typed("#typed", {
        strings: ["Hello, Astronaut!", "Welcome to my blog."],
        typeSpeed: 50,
        loop: true,
        showCursor: true,
      });
    </script>
    <style>
      main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        text-align: center;
      }
      #typed {
        font-size: 2rem;
        font-weight: bold;
      }
      button {
        margin-top: 20px;
        padding: 10px 20px;
        font-size: 1rem;
        cursor: pointer;
      }
    </style>
  </body>
</html>
