---
export const prerender = true;
import BaseHead from "../components/BaseHead.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main>
      <div class="container">
        <h1>
          <span id="typed"></span>
        </h1>
        <a href="/posts" class="entry-link">
          <button>&lt; Entry / 進入 &gt;</button>
        </a>
      </div>
    </main>
    <script src="https://unpkg.com/typed.js/dist/typed.umd.js"></script>
    <script>
      var typed = new Typed("#typed", {
        strings: ["25時、ナイトコードで。"],
        typeSpeed: 250,
        cursorChar: "_",
        shouldBackspace: false,
      });
    </script>
    <style>
      main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        text-align: center;
        position: relative;
      }
      #typed {
        font-size: 2rem;
        font-weight: bold;
      }
      .entry-link {
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
      }
      button {
        padding: 10px 20px;
        font-size: 1rem;
        cursor: pointer;
      }
    </style>
  </body>
</html>
