---
export const prerender = true;

import BaseLayout from "@layouts/Base.astro";
import { siteConfig } from "@consts";
---

<BaseLayout
  title={siteConfig.title}
  description={siteConfig.description}
  showFooter={false}
>
  <main>
    <div>
      <h1>
        <span id="typed"></span>
      </h1>
    </div>
    <a href="/posts" class="entry-link">&lt; Entry / 進入 &gt;</a>
  </main>
  <script is:inline src="https://unpkg.com/typed.js/dist/typed.umd.js"></script>
  <script is:inline>
    function setupTyped() {
      new Typed("#typed", {
        strings: ["25時、ナイトコードで。"],
        typeSpeed: 200,
        cursorChar: "_",
        shouldBackspace: false,
      });
    }
    setupTyped();
  </script>
</BaseLayout>
