---
import "@styles/global.css";
import { Font } from "astro:assets";
---

<meta charset="utf-8" />
<link rel="icon" href="/favicon.ico" />
<meta name="viewport" content="width=device-width" />
<link rel="sitemap" href="/sitemap-index.xml" />
<meta name="generator" content={Astro.generator} />
<meta name="robots" content="nosnippet" />
<Font cssVariable="--font-shippori-mincho" preload />
<Font cssVariable="--font-m-plus-1-code" preload />
<link rel="preconnect" href="https://challenges.cloudflare.com" />
<link rel="preconnect" href="https://static.cloudflareinsights.com" />
<link rel="preconnect" href="https://object.amia.work" />
<link rel="preconnect" href="https://openweathermap.org" />
<title>Astro</title>
