---

---

<footer
  class="footer footer-horizontal footer-center bg-footer p-4 text-xs text-white"
>
  <aside>
    <p>
      本作におけるピアプロキャラクターズの設定は、「プロジェクトセカイ」における設定であり、公式設定とは異なります。<br
      />
      記載の商品名および社名は各社の登録商標です。<br />
      本サイトで使用されている 画像、文章、情報、音声、動画等は株式会社セガまたはその関連会社の著作権により保護されております。<br
      />
      著作権者の許可なく、複製、転載等の行為を禁止いたします。
    </p>
    <p>
      Copyright © {new Date().getFullYear()} Theme Memories - All right reserved
    </p>
  </aside>
</footer>
