---
import { Font } from "astro:assets";
import BackgroundParallax from "../components/html/background-parallax.astro";
import IndexFooter from "../components/html/index-footer.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
    <Font cssVariable="--font-mpone" preload />
    <Font cssVariable="--font-mpone-code" preload />
  </head>
  <body>
    <BackgroundParallax />
    <main>
      <slot />
      <IndexFooter />
    </main>
  </body>
</html>
